@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    font-family: "Press Start 2P", normal;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 110px;
    width: 100%;
    background-color: #000;
    color: #FFF;

    .menu-time {
        #timer {
            color: #FF0000;
        }
    }
    .menu-score{
        #score {
            color: #FF0000;
        }
    }

    .menu-lives {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 60px;
        }
    }
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    .square {
        height: 150px;
        width: 150px;
        border: 5px solid #000;
        background-color: #FFF;
    }

    .enemy {
        background-image: url("../images/ralph.png");
        background-size: cover;
    }
}